$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1310px,
);

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/containers";
@import "~sass-rem/rem";
@import "swiper/css";
@import "@fancyapps/ui/dist/fancybox/fancybox.css";
@import "intl-tel-input/build/css/intlTelInput.css";
@import "mixins/utility";
@import "base/variables";
@import "base/fonts";
@import "base/reset";
@import "base/base";
@import "base/typography";
@import "components/buttons";
@import "components/modals";
@import "components/small-components";
@import "components/forms";
@import "components/cards";
@import "layout/header";
@import "layout/footer";
@import "blocks/front-hero";
@import "blocks/type-block";
@import "blocks/lead-block";
@import "blocks/documents-block";
@import "blocks/price-block";
@import "blocks/reviews-block";
@import "blocks/faq-block";
@import "blocks/contacts-block";
