:root {
    --accent-green: #2aa81a;
    --accent-red: #c60b1e;
    --accent-orange: #ea860b;
    --main: #2e2e2e;
    --white: #fff;
    --border-light: #f2f2f2;
    --accent-gradient: linear-gradient(-105deg, #ea860b 0, #ffc400 100%);
    --accent-orange-light: #fffae8;
}

$pb: rem(100px);
$pb-mobile: rem(40px);
$pb-sm: rem(30px);
