.documents-block {
    &__wrap {
        margin-bottom: $pb;
    }

    &__title {
        width: fit-content;
        max-width: rem(752px);
        margin: 0 auto;
        text-align: center;
        margin-bottom: rem(30px);
    }

    &__subheading {
        font-size: rem(18px);
        text-align: center;
        margin-bottom: rem(30px);
    }

    &__dec-icon {
        display: block;
        width: rem(30px);
        height: rem(35px);
        margin: 0 auto;
        margin-bottom: rem(30px);
    }

    &__list {
        @include unlist();

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: rem(20px);
    }

    &__document-card {
        width: calc(33% - 20px);
    }
}
