.price-list-block {
    &__wrap {
        margin-bottom: $pb;

        @include media-breakpoint-down(lg) {
            margin-bottom: rem(50px);
        }

        @include media-breakpoint-down(md) {
            margin-bottom: $pb-mobile;
        }

        @include media-breakpoint-down(sm) {
            margin-bottom: $pb-sm;
        }
    }

    &__title {
        @extend h2;

        width: fit-content;
        max-width: rem(752px);
        margin: 0 auto;
        text-align: center;
        margin-bottom: rem(30px);
    }

    &__subheading {
        font-size: rem(18px);
        text-align: center;
        margin-bottom: rem(30px);

        @include media-breakpoint-down(md) {
            font-size: rem(16px);
        }

        @include media-breakpoint-down(sm) {
            font-size: rem(14px);
        }
    }

    &__dec-icon {
        display: block;
        width: rem(30px);
        height: rem(35px);
        margin: 0 auto;
        margin-bottom: rem(30px);
    }

    &__list {
        @include unlist();

        margin-bottom: rem(30px);
    }

    &__item {
        padding: rem(20px);
        border-radius: rem(10px);

        &:nth-of-type(2n - 1) {
            background: var(--accent-orange-light);
        }
    }

    &__info {
        font-size: rem(18px);
        display: flex;
        align-items: center;
        gap: rem(10px);
        flex-grow: 1;

        &::after {
            content: "";
            display: block;
            width: auto;
            border-bottom: 1px dashed rgba(46 46 46 / 50%);
            flex-grow: 2;
            height: 50%;
        }
    }

    &__list-name {
        text-align: center;
        width: fit-content;
        margin: 0 auto;
        max-width: rem(600px);
        font-weight: 700;
        margin-bottom: rem(30px);
        font-size: rem(18px);

        @include media-breakpoint-down(md) {
            font-size: rem(16px);
        }

        @include media-breakpoint-down(sm) {
            font-size: rem(13px);
        }
    }

    &__price {
        display: block;
        font-weight: 700;
        font-size: rem(18px);
    }

    &__additional-info {
        font-size: rem(14px);
        opacity: 0.5;
    }

    &__item-row {
        display: flex;
        gap: rem(10px);
        justify-content: space-between;
    }

    &__btn {
        @extend %btn-main;

        margin: 0 auto;

        @include media-breakpoint-down(sm) {
            width: 100%;
        }

        svg {
            display: block;
            width: rem(20px);
            height: rem(20px);
        }
    }

    &__table {
        display: block;
        width: 100%;
        margin-bottom: rem(30px);
    }

    &__table-body {
        display: block;
        width: 100%;
    }

    &__table-cell {
        display: flex;
        flex-direction: column;
        width: 100%;

        &:nth-of-type(2n) {
            width: fit-content;
            flex: 0 0 auto;
        }
    }

    &__table-name {
        font-size: rem(18px);
        display: flex;
        align-items: center;
        gap: rem(10px);
        flex-grow: 1;

        &::after {
            content: "";
            display: block;
            width: auto;
            border-bottom: 1px dashed rgba(46 46 46 / 50%);
            flex-grow: 1;
            height: 50%;
        }
    }

    &__table-info {
        display: block;
        font-size: rem(14px);
        opacity: 0.5;
    }

    &__table-row {
        padding: rem(20px);
        border-radius: rem(10px);
        display: flex;
        justify-content: space-between;
        gap: rem(10px);

        &:nth-of-type(2n - 1) {
            background: var(--accent-orange-light);
        }
    }
}
