.types-block {
    &__wrap {
        margin-bottom: $pb;

        @include media-breakpoint-down(lg) {
            margin-bottom: rem(50px);
        }

        @include media-breakpoint-down(md) {
            margin-bottom: $pb-mobile;
        }

        @include media-breakpoint-down(sm) {
            margin-bottom: $pb-sm;
        }
    }

    &__title {
        @extend h2;

        width: fit-content;
        margin: 0 auto;
        text-align: center;
        margin-bottom: rem(30px);
        max-width: rem(752px);
    }

    &__subheading {
        font-size: rem(18px);
        text-align: center;
        margin-bottom: rem(30px);

        @include media-breakpoint-down(md) {
            font-size: rem(16px);
        }

        @include media-breakpoint-down(sm) {
            font-size: rem(14px);
        }
    }

    &__dec-icon {
        display: block;
        width: rem(30px);
        height: rem(35px);
        margin: 0 auto;
        margin-bottom: rem(30px);
    }

    &__list {
        @include unlist();

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: rem(40px);

        @include media-breakpoint-down(lg) {
            gap: rem(30px);
        }

        @include media-breakpoint-down(md) {
            flex-direction: column;
            gap: rem(16px);
        }
    }

    &__type-card {
        width: calc(33% - 40px);

        @include media-breakpoint-down(lg) {
            width: calc(50% - 20px);
        }

        @include media-breakpoint-down(md) {
            width: calc(100%);
        }
    }
}
