<footer class='footer'>
    <div class="footer__wrap">

        <div class="container">

            <div class="footer__top-bar">

                <a href="" class="footer__logo-wrap">
                    <div class="footer__logo">
                        <img src="@/assets/img/icons/logo-main.svg" alt="Логотип">
                    </div>
                    <div class="footer__logo-info">
                        ВНЖ Испании
                    </div>
                </a>

                <div class="footer__small-contacts small-contacts">

                    <div class="small-contacts__wrap">

                        <img src="@/assets/img/icons/tel-wa.svg" alt="" class="small-contacts__icon">

                        <div class="small-contacts__text-wrap">
                            <a href="tel:" class="small-contacts__tel">+7 969 349-33-26</a>
                            <div class="small-contacts__work-time">
                                <span></span> Ежедневно с 10:00 до 22:00
                            </div>
                        </div>

                    </div>

                </div>

                <div class="footer__small-socials small-socials">

                    <ul class="small-socials__list">

                        <li class="small-socials__item">

                            <a href="" class="small-socials__logo">
                                <img src="@/assets/img/icons/tg.svg" alt="telegram">
                            </a>

                        </li>

                        <li class="small-socials__item">

                            <a href="" class="small-socials__logo">
                                <img src="@/assets/img/icons/wa.svg" alt="whatsapp">
                            </a>

                        </li>

                        <li class="small-socials__item">

                            <a href="" class="small-socials__logo">
                                <img src="@/assets/img/icons/inst.svg" alt="instagram">
                            </a>

                        </li>

                    </ul>

                </div>

                <button class="footer__btn" data-modal="form">
                    Бесплатная консультация
                </button>

            </div>

            <div class="footer__content">
                <div class="footer__articles-name">Популярные статьи:</div>

                <ul class="footer__articles-list">

                    {{# range 8}}

                    <li class="footer__article-item">
                        <a href="" class="footer__article-link">Справка о несудимости</a>
                    </li>

                    {{/ range}}

                </ul>
            </div>

            <div class="footer__bottom-bar">

                <div class="footer__copyright">© Askar Law Spain 2023 г, Все права защищены.</div>

                <a href="" class="footer__policy">Политика конфиденциальности</a>

            </div>

        </div>

    </div>

</footer>

<div class="socials-widget">

    <div class="socials-widget__wrap">

        <button class="socials-widget__toggle">

        </button>

         <div class="socials-widget__small-socials small-socials">

                <ul class="small-socials__list">

                    <li class="small-socials__item">

                        <a href="" class="small-socials__logo">
                            <img src="@/assets/img/icons/tg.svg" alt="telegram">
                        </a>

                    </li>

                    <li class="small-socials__item">

                        <a href="" class="small-socials__logo">
                            <img src="@/assets/img/icons/wa.svg" alt="whatsapp">
                        </a>

                    </li>

                    <li class="small-socials__item">

                        <a href="" class="small-socials__logo">
                            <img src="@/assets/img/icons/inst.svg" alt="instagram">
                        </a>

                    </li>

                </ul>

            </div>

    </div>

</div>

<dialog class="modal" id="policy">

    <div class="modal__wrap">
        <div class="modal__content">

            <div class="modal__body">

                <button class="modal__close modal-close">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M0.781396 16.0001C0.626858 16.0001 0.475783 15.9543 0.347281 15.8685C0.218778 15.7826 0.118621 15.6606 0.0594776 15.5178C0.000334661 15.3751 -0.0151369 15.218 0.0150198 15.0664C0.0451766 14.9148 0.119607 14.7756 0.228896 14.6664L14.6664 0.228853C14.8129 0.0823209 15.0117 0 15.2189 0C15.4261 0 15.6249 0.0823209 15.7714 0.228853C15.9179 0.375385 16.0002 0.574125 16.0002 0.781353C16.0002 0.988581 15.9179 1.18732 15.7714 1.33385L1.3339 15.7714C1.26141 15.844 1.17528 15.9016 1.08047 15.9409C0.985653 15.9801 0.884016 16.0002 0.781396 16.0001Z"
                            fill="black" fill-opacity="0.8" />
                        <path
                            d="M15.2189 16.0001C15.1162 16.0002 15.0146 15.9801 14.9198 15.9409C14.825 15.9016 14.7388 15.844 14.6664 15.7714L0.228853 1.33385C0.0823209 1.18732 0 0.988581 0 0.781353C0 0.574125 0.0823209 0.375385 0.228853 0.228853C0.375385 0.0823209 0.574125 0 0.781353 0C0.988581 0 1.18732 0.0823209 1.33385 0.228853L15.7714 14.6664C15.8806 14.7756 15.9551 14.9148 15.9852 15.0664C16.0154 15.218 15.9999 15.3751 15.9408 15.5178C15.8816 15.6606 15.7815 15.7826 15.653 15.8685C15.5245 15.9543 15.3734 16.0001 15.2189 16.0001Z"
                            fill="black" fill-opacity="0.8" />
                    </svg>
                </button>

                <div class="modal__title"><span>Соглашение на обработку</span> персональных данных</div>

                <div class="modal__text-content text-content">

                    <h2>
                        1. Общие положения
                    </h2>

                    <p>
                        Настоящая политика обработки персональных данных составлена в соответствии с требованиями
                        Федерального
                        закона от 27.07.2006. №152-ФЗ «О персональных данных» и определяет порядок обработки
                        персональных данных
                        и меры по обеспечению безопасности персональных данных Almacor Group (далее – Оператор).
                    </p>

                    <p>
                        Оператор ставит своей важнейшей целью и условием осуществления своей деятельности соблюдение
                        прав и
                        свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на
                        неприкосновенность частной жизни, личную и семейную тайну.
                    </p>

                    <p>
                        Настоящая политика Оператора в отношении обработки персональных данных (далее – Политика)
                        применяется ко
                        всей информации, которую Оператор может получить о посетителях веб-сайта
                    </p>




                    <h2>
                        2. Основные понятия, используемые в Политике
                    </h2>

                    <p>
                        Автоматизированная обработка персональных данных – обработка персональных данных с помощью
                        средств
                        вычислительной техники; Блокирование персональных данных – временное прекращение обработки
                        персональных
                        данных (за исключением случаев, если обработка необходима для уточнения персональных данных);
                    </p>

                    <p>
                        Веб-сайт – совокупность графических и информационных материалов, а также программ для ЭВМ и баз
                        данных,
                        обеспечивающих их доступность в сети интернет по сетевому адресу http://www.hotel-aleksander.eu;
                    </p>

                    <p>
                        Информационная система персональных данных — совокупность содержащихся в базах данных
                        персональных
                        данных, и
                        обеспечивающих их обработку информационных технологий и технических средств;
                    </p>

                    <p>
                        Обезличивание персональных данных — действия, в результате которых невозможно определить без
                        использования
                        дополнительной информации принадлежность персональных данных конкретному Пользователю или иному
                        субъекту
                        персональных данных;
                    </p>

                    <p>
                        Обработка персональных данных – любое действие (операция) или совокупность действий (операций),
                        совершаемых
                        с использованием средств автоматизации или без использования таких средств с персональными
                        данными,
                        включая
                        сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение),
                        извлечение,
                        использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование,
                        удаление,
                        уничтожение персональных данных;
                    </p>

                    <p>
                        Оператор – государственный орган, муниципальный орган, юридическое или физическое лицо,
                        самостоятельно
                        или
                        совместно с другими лицами организующие и (или) осуществляющие обработку персональных данных, а
                        также
                        определяющие цели обработки персональных данных, состав персональных данных, подлежащих
                        обработке,
                        действия
                        (операции), совершаемые с персональными данными;
                    </p>

                    <p>
                        Персональные данные – любая информация, относящаяся прямо или косвенно к определенному или
                        определяемому
                        Пользователю веб-сайта http://www.hotel-aleksander.eu;
                    </p>

                    <p>
                        Пользователь – любой посетитель веб-сайта http://www.hotel-aleksander.eu;
                    </p>

                    <p>
                        Предоставление персональных данных – действия, направленные на раскрытие персональных данных
                        определенному
                        лицу или определенному кругу лиц;
                    </p>

                    <p>
                        Распространение персональных данных – любые действия, направленные на раскрытие персональных
                        данных
                        неопределенному кругу лиц (передача персональных данных) или на ознакомление с персональными
                        данными
                        неограниченного круга лиц, в том числе обнародование персональных данных в средствах массовой
                        информации,
                        размещение в информационно-телекоммуникационных сетях или предоставление доступа к персональным
                        данным
                        каким-либо иным способом;
                    </p>

                    <p>
                        Трансграничная передача персональных данных – передача персональных данных на территорию
                        иностранного
                        государства органу власти иностранного государства, иностранному физическому или иностранному
                        юридическому
                        лицу;
                    </p>

                    <p>
                        Уничтожение персональных данных – любые действия, в результате которых персональные данные
                        уничтожаются
                        безвозвратно с невозможностью дальнейшего восстановления содержания персональных данных в
                        информационной
                        системе персональных данных и (или) результате которых уничтожаются материальные носители
                        персональных
                        данных.
                    </p>




                    <h2>
                        3. Оператор может обрабатывать следующие персональные данные Пользователя
                    </h2>

                    <p>
                        Фамилия, имя, отчество;
                        Электронный адрес;
                        Номера телефонов;
                    </p>

                    <p>
                        Также на сайте происходит сбор и обработка обезличенных данных о посетителях (в т.ч. файлов
                        «cookie») с
                        помощью сервисов интернет-статистики (Яндекс Метрика и Гугл Аналитика и других).
                    </p>

                    <p>
                        Вышеперечисленные данные далее по тексту Политики объединены общим понятием Персональные данные.
                    </p>




                    <h2>
                        4. Цели обработки персональных данных
                    </h2>

                    <p>
                        Цель обработки персональных данных Пользователя — информирование Пользователя посредством
                        отправки электронных писем; предоставление доступа Пользователю к сервисам, информации и/или
                        материалам, содержащимся на веб-сайте.
                    </p>

                    <p>
                        Также Оператор имеет право направлять Пользователю уведомления о новых продуктах и услугах,
                        специальных предложениях и различных событиях. Пользователь всегда может отказаться от получения
                        информационных сообщений, направив Оператору письмо на адрес электронной почты
                        shakin@hotel-aleksander.eu с пометкой «Отказ от уведомлениях о новых продуктах и услугах и
                        специальных предложениях».
                    </p>

                    <p>
                        Обезличенные данные Пользователей, собираемые с помощью сервисов интернет-статистики, служат для
                        сбора информации о действиях Пользователей на сайте, улучшения качества сайта и его содержания.
                    </p>




                    <h2>
                        6. Порядок сбора, хранения, передачи и других видов обработки персональных данных
                    </h2>

                    <p>
                        Цель обработки персональных данных Пользователя — информирование Пользователя посредством
                        отправки электронных писем; предоставление доступа Пользователю к сервисам, информации и/или
                        материалам, содержащимся на веб-сайте.
                    </p>

                    <p>
                        Также Оператор имеет право направлять Пользователю уведомления о новых продуктах и услугах,
                        специальных предложениях и различных событиях. Пользователь всегда может отказаться от получения
                        информационных сообщений, направив Оператору письмо на адрес электронной почты
                        shakin@hotel-aleksander.eu с пометкой «Отказ от уведомлениях о новых продуктах и услугах и
                        специальных предложениях».
                    </p>

                    <p>
                        Обезличенные данные Пользователей, собираемые с помощью сервисов интернет-статистики, служат для
                        сбора информации о действиях Пользователей на сайте, улучшения качества сайта и его содержания.
                    </p>

                    <p>
                        Также Оператор имеет право направлять Пользователю уведомления о новых продуктах и услугах,
                        специальных предложениях и различных событиях. Пользователь всегда может отказаться от получения
                        информационных сообщений, направив Оператору письмо на адрес электронной почты
                        shakin@hotel-aleksander.eu с пометкой «Отказ от уведомлениях о новых продуктах и услугах и
                        специальных предложениях».
                    </p>

                    <p>
                        Обезличенные данные Пользователей, собираемые с помощью сервисов интернет-статистики, служат для
                        сбора информации о действиях Пользователей на сайте, улучшения качества сайта и его содержания.
                    </p>




                    <h2>
                        7. Трансграничная передача персональных данных
                    </h2>

                    <p>
                        Цель обработки персональных данных Пользователя — информирование Пользователя посредством
                        отправки электронных писем; предоставление доступа Пользователю к сервисам, информации и/или
                        материалам, содержащимся на веб-сайте.
                    </p>

                    <p>
                        Также Оператор имеет право направлять Пользователю уведомления о новых продуктах и услугах,
                        специальных предложениях и различных событиях. Пользователь всегда может отказаться от получения
                        информационных сообщений, направив Оператору письмо на адрес электронной почты
                        shakin@hotel-aleksander.eu с пометкой «Отказ от уведомлениях о новых продуктах и услугах и
                        специальных предложениях».
                    </p>

                    <p>
                        Обезличенные данные Пользователей, собираемые с помощью сервисов интернет-статистики, служат для
                        сбора информации о действиях Пользователей на сайте, улучшения качества сайта и его содержания.
                    </p>

                    <p>
                        Также Оператор имеет право направлять Пользователю уведомления о новых продуктах и услугах,
                        специальных предложениях и различных событиях. Пользователь всегда может отказаться от получения
                        информационных сообщений, направив Оператору письмо на адрес электронной почты
                        shakin@hotel-aleksander.eu с пометкой «Отказ от уведомлениях о новых продуктах и услугах и
                        специальных предложениях».
                    </p>

                    <p>
                        Обезличенные данные Пользователей, собираемые с помощью сервисов интернет-статистики, служат для
                        сбора информации о действиях Пользователей на сайте, улучшения качества сайта и его содержания.
                    </p>


                </div>

            </div>

        </div>
    </div>

</dialog>

<dialog class="modal" id="form">

    <div class="modal__wrap">
        <div class="modal__content">

            <div class="modal__body modal__body--form">

                <button class="modal__close modal-close">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M0.781396 16.0001C0.626858 16.0001 0.475783 15.9543 0.347281 15.8685C0.218778 15.7826 0.118621 15.6606 0.0594776 15.5178C0.000334661 15.3751 -0.0151369 15.218 0.0150198 15.0664C0.0451766 14.9148 0.119607 14.7756 0.228896 14.6664L14.6664 0.228853C14.8129 0.0823209 15.0117 0 15.2189 0C15.4261 0 15.6249 0.0823209 15.7714 0.228853C15.9179 0.375385 16.0002 0.574125 16.0002 0.781353C16.0002 0.988581 15.9179 1.18732 15.7714 1.33385L1.3339 15.7714C1.26141 15.844 1.17528 15.9016 1.08047 15.9409C0.985653 15.9801 0.884016 16.0002 0.781396 16.0001Z"
                            fill="black" fill-opacity="0.8" />
                        <path
                            d="M15.2189 16.0001C15.1162 16.0002 15.0146 15.9801 14.9198 15.9409C14.825 15.9016 14.7388 15.844 14.6664 15.7714L0.228853 1.33385C0.0823209 1.18732 0 0.988581 0 0.781353C0 0.574125 0.0823209 0.375385 0.228853 0.228853C0.375385 0.0823209 0.574125 0 0.781353 0C0.988581 0 1.18732 0.0823209 1.33385 0.228853L15.7714 14.6664C15.8806 14.7756 15.9551 14.9148 15.9852 15.0664C16.0154 15.218 15.9999 15.3751 15.9408 15.5178C15.8816 15.6606 15.7815 15.7826 15.653 15.8685C15.5245 15.9543 15.3734 16.0001 15.2189 16.0001Z"
                            fill="black" fill-opacity="0.8" />
                    </svg>
                </button>

                <div class="modal__title"><span>Получение ВНЖ Испании</span> — бесплатная консультация</div>

                <div class="modal__subtitle">Оставьте заявку и наш Юрист свяжется с Вами в течении нескольких минут
                </div>

                <form class="front-hero__form-main form-main">

                    <div class="form-main__group">

                        {{> ./form/telInput countries=data }}

                        <button class="form-main__submit">
                            Оставить заявку
                        </button>

                    </div>

                    <div class="form-main__button-type-socials button-type-socials">

                        <ul class="button-type-socials__list">

                            <li class="button-type-socials__item">

                                <a href="" class="button-type-socials__link">

                                    <img src="@/assets/img/icons/insta.svg" alt="instagram"
                                        class="button-type-socials__icon">

                                    <div class="button-type-socials__info">
                                        Instagram
                                    </div>

                                </a>

                            </li>

                            <li class="button-type-socials__item">

                                <a href="" class="button-type-socials__link">

                                    <img src="@/assets/img/icons/teleg.svg" alt="telegram"
                                        class="button-type-socials__icon">

                                    <div class="button-type-socials__info">
                                        Telegram
                                    </div>

                                </a>

                            </li>

                            <li class="button-type-socials__item">

                                <a href="" class="button-type-socials__link">

                                    <img src="@/assets/img/icons/what.svg" alt="whatsapp"
                                        class="button-type-socials__icon">

                                    <div class="button-type-socials__info">
                                        WhatsApp
                                    </div>

                                </a>

                            </li>

                        </ul>

                    </div>

                    <div class="form-main__group form-main__group--checkbox">
                        <input class="form-main__input" type="checkbox" name="cat1" id="cat1">
                        <label for="cat1" class="form-main__label">
                            Нажимая “Оставить заявку”, вы даете согласие на обработку
                            <a href="#" data-modal="policy" class="form-main__btn-link">персональных данных</a> и
                            ознакомлен с
                            <a href="#" data-modal="policy" class="form-main__btn-link">политикой
                                конфеденциальности.</a>
                        </label>
                    </div>

                </form>
            </div>

        </div>
    </div>

</dialog>

</body>

</html>