<footer class='footer'>
    <div class="footer__wrap">

        <div class="container">

            <div class="footer__top-bar">

                <div class="footer__logo-wrap">
                    <a class="footer__logo" href="#">
                        <img src="@/assets/img/icons/logo-main.svg" alt="Логотип">
                    </a>
                    <div class="footer__logo-info">
                        ВНЖ Испании
                    </div>
                </div>

                <div class="footer__small-contacts small-contacts">

                    <div class="small-contacts__wrap">

                        <img src="@/assets/img/icons/tel-wa.svg" alt="" class="small-contacts__icon">

                        <div class="small-contacts__text-wrap">
                            <a href="tel:" class="small-contacts__tel">+7 969 349-33-26</a>
                            <div class="small-contacts__work-time">
                                <span></span> Ежедневно с 10:00 до 22:00
                            </div>
                        </div>

                    </div>

                </div>

                <div class="footer__small-socials small-socials">

                    <ul class="small-socials__list">

                        <li class="small-socials__item">

                            <a href="" class="small-socials__logo">
                                <img src="@/assets/img/icons/tg.svg" alt="telegram">
                            </a>

                        </li>

                        <li class="small-socials__item">

                            <a href="" class="small-socials__logo">
                                <img src="@/assets/img/icons/wa.svg" alt="whatsapp">
                            </a>

                        </li>

                        <li class="small-socials__item">

                            <a href="" class="small-socials__logo">
                                <img src="@/assets/img/icons/inst.svg" alt="instagram">
                            </a>

                        </li>

                    </ul>

                </div>

                <button class="footer__btn">
                    Бесплатная консультация
                </button>

            </div>

            <div class="footer__content">
                <div class="footer__articles-name">Популярные статьи:</div>

                <ul class="footer__articles-list">

                    {{# range 8}}

                    <li class="footer__article-item">
                        <a href="" class="footer__article-link">Справка о несудимости</a>
                    </li>

                    {{/ range}}

                </ul>
            </div>

            <div class="footer__bottom-bar">

                <div class="footer__copyright">© Askar Law Spain 2023 г, Все права защищены.</div>

                <a href="" class="footer__policy">Политика конфиденциальности</a>

            </div>

        </div>

    </div>
</footer>

</body>

</html>