<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {{ title }}
    </title>
</head>

<body>
    <header class="header">
        <div class="header__wrap">

            <div class="container">

                <div class="header__content">

                    <a href="" class="header__logo-wrap">
                        <div class="header__logo">
                            <img src="@/assets/img/icons/logo-main.svg" alt="Логотип">
                        </div>
                        <h1 class="header__logo-info">
                            ВНЖ Испании
                        </h1>
                    </a>

                    <div class="header__small-contacts small-contacts">

                        <div class="small-contacts__wrap">

                            <img src="@/assets/img/icons/tel-wa.svg" alt="" class="small-contacts__icon">

                            <div class="small-contacts__text-wrap">
                                <a href="tel:" class="small-contacts__tel">+7 969 349-33-26</a>
                                <div class="small-contacts__work-time">
                                    <span></span> Ежедневно с 10:00 до 22:00
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="header__small-socials small-socials">

                        <ul class="small-socials__list">

                            <li class="small-socials__item">

                                <a href="" class="small-socials__logo">
                                    <img src="@/assets/img/icons/tg.svg" alt="telegram">
                                </a>

                            </li>

                            <li class="small-socials__item">

                                <a href="" class="small-socials__logo">
                                    <img src="@/assets/img/icons/wa.svg" alt="whatsapp">
                                </a>

                            </li>

                            <li class="small-socials__item">

                                <a href="" class="small-socials__logo">
                                    <img src="@/assets/img/icons/inst.svg" alt="instagram">
                                </a>

                            </li>

                        </ul>

                    </div>

                    <button class="header__btn" data-modal="form">
                        консультация
                    </button>

                    <button class="header__mobile-toggle">
                        <span></span><span></span><span></span>
                    </button>

                </div>

            </div>

            <div class="header__menu-wrap">

                <div class="container">

                    <nav class="header__header-menu header-menu">

                        <ul class="header-menu__list">

                            <li class="header-menu__item">

                                <a href="" class="header-menu__link">
                                    Виды ВНЖ
                                </a>

                            </li>

                            <li class="header-menu__item">

                                <a href="" class="header-menu__link">
                                    Набор документов
                                </a>

                            </li>

                            <li class="header-menu__item">

                                <a href="" class="header-menu__link">
                                    Прайс-лист
                                </a>

                            </li>

                            <li class="header-menu__item">

                                <a href="" class="header-menu__link">
                                    Набор документов
                                </a>

                            </li>

                            <li class="header-menu__item">

                                <a href="" class="header-menu__link">
                                    FAQ
                                </a>

                            </li>

                            <li class="header-menu__item">

                                <a href="" class="header-menu__link">
                                    Отзывы
                                </a>

                            </li>

                            <li class="header-menu__item">

                                <a href="" class="header-menu__link">
                                    Контакты
                                </a>

                            </li>

                            <li class="header-menu__item header-menu__item--last">

                                <a href="" class="header-menu__link">
                                    Статьи
                                </a>

                            </li>

                        </ul>

                    </nav>

                </div>

            </div>

        </div>

        <div class="header__mobile-menu-wrap mobile-menu-wrap">

            <div class="mobile-menu-wrap__backdrop">
                
            </div>

            <div class="mobile-menu-wrap__wrap">

                <nav class="mobile-menu-wrap__mobile-menu mobile-menu">

                    <ul class="mobile-menu__list">

                        <li class="mobile-menu__item">
                            <a href="" class="mobile-menu__link">
                                Виды ВНЖ
                            </a>
                        </li>

                        <li class="mobile-menu__item">
                            <a href="" class="mobile-menu__link">
                                Набор документов
                            </a>
                        </li>

                        <li class="mobile-menu__item">
                            <a href="" class="mobile-menu__link">
                                Прайс-лист
                            </a>
                        </li>

                        <li class="mobile-menu__item">
                            <a href="" class="mobile-menu__link">
                                FAQ
                            </a>
                        </li>

                        <li class="mobile-menu__item">
                            <a href="" class="mobile-menu__link">
                                Отзывы
                            </a>
                        </li>

                        <li class="mobile-menu__item">
                            <a href="" class="mobile-menu__link">
                                Контакты
                            </a>
                        </li>

                        <li class="mobile-menu__item mobile-menu__item--last">
                            <a href="" class="mobile-menu__link">
                                Статьи
                            </a>
                        </li>

                    </ul>

                </nav>

                <div class="mobile-menu-wrap__bottom">

                    <div class="mobile-menu-wrap__small-contacts small-contacts">

                        <div class="small-contacts__wrap">

                            <img src="@/assets/img/icons/tel-wa.svg" alt="" class="small-contacts__icon">

                            <div class="small-contacts__text-wrap">
                                <div class="small-contacts__work-time">
                                    <span></span> Ежедневно с 10:00 до 22:00
                                </div>
                                <a href="tel:" class="small-contacts__tel">+7 969 349-33-26</a>
                            </div>

                        </div>

                    </div>

                     <div class="mobile-menu-wrap__small-socials small-socials">

                        <ul class="small-socials__list">

                            <li class="small-socials__item">

                                <a href="" class="small-socials__logo">
                                    <img src="@/assets/img/icons/tg.svg" alt="telegram">
                                </a>

                            </li>

                            <li class="small-socials__item">

                                <a href="" class="small-socials__logo">
                                    <img src="@/assets/img/icons/wa.svg" alt="whatsapp">
                                </a>

                            </li>

                            <li class="small-socials__item">

                                <a href="" class="small-socials__logo">
                                    <img src="@/assets/img/icons/inst.svg" alt="instagram">
                                </a>

                            </li>

                        </ul>

                    </div>

                    <button class="mobile-menu-wrap__btn">
                        Бесплатная консультация
                    </button>

                </div>

            </div>

        </div>
    </header>