%btn-main {
    background: linear-gradient(-105deg, #ea860b 0, #ffc400 100%);
    border-radius: rem(16px);
    padding: rem(20px 30px);
    font-weight: 500;
    line-height: 160%;
    font-size: 14px;
    text-transform: uppercase;
}
