%btn-main {
    background: var(--accent-gradient);
    border-radius: rem(16px);
    padding: rem(20px 30px);
    font-weight: 500;
    line-height: 160%;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
}

%btn-border {
    border: 1px solid var(--main);
    padding: rem(20px 40px);
    font-size: 14px;
    font-weight: 500;
    border-radius: rem(16px);
    width: 100%;
    max-width: rem(270px);
}
