.form-main {
    &--vertical {
        width: 100%;
        max-width: rem(750px);
        margin: 0 auto;
    }

    &__group {
        position: relative;
        display: flex;
        align-items: center;
        gap: rem(10px);
        margin-bottom: rem(20px);

        @include media-breakpoint-down(sm) {
            flex-wrap: wrap;
            width: 100%;
            max-width: 100%;
        }
    }

    &__submit {
        @extend %btn-main;

        font-size: rem(16px);

        @include media-breakpoint-down(xxl) {
            font-size: rem(14px);
        }

        @include media-breakpoint-down(sm) {
            max-width: 100%;
            width: 100%;
        }
    }

    &__submit-border {
        @extend %btn-border;

        @include media-breakpoint-down(md) {
            max-width: 100%;
        }
    }

    &__input {
        width: 100%;
        padding: rem(20px);
        background: var(--white);
        border-radius: 10px;
        border: 1px solid var(--border-light);
        padding-left: rem(140px);
        max-width: rem(370px);

        @include media-breakpoint-down(xxl) {
            max-width: rem(320px);
        }

        &--long {
            max-width: rem(390px);

            @include media-breakpoint-down(xxl) {
                max-width: 100%;
                width: 100%;
            }
        }

        &--full {
            max-width: 100%;
        }


        @include media-breakpoint-down(sm) {
            max-width: 100%;
            width: 100%;
        }
    }

    &__policy {
        line-height: 155%;
        opacity: 0.5;
        font-size: rem(14px);

        &--main {
            opacity: 1;
        }
    }

    &__btn-link {
        display: contents;
        font-weight: 500;
    }

    &__country-list {
        @include unlist();

        display: flex;
        width: 100%;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 100%;
        background: $white;
        z-index: 1;
        border-radius: 0 0 10px 10px;
        height: 0;
        max-height: 0;
        overflow: hidden;
        transition: 250ms;
    }

    &__country-item {
        display: flex;
        align-items: center;
        gap: rem(10px);
        transition: 250ms;
        padding: rem(14px);
        font-size: rem(14px);
        cursor: pointer;

        &:hover {
            transition: 250ms;
            background: var(--accent-orange-light);
        }
    }

    &__info-block {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    &__country-icon {
        display: block;
        width: rem(40px);
        height: rem(26px);
        border-radius: 4px;
        overflow: hidden;
        object-fit: cover;
        border: 1px solid var(--border-light);
    }

    &__tel-info-box {
        position: absolute;
        left: rem(14px);
        height: rem(26px);
        display: flex;
        align-items: center;
        gap: rem(10px);
        top: 0;
        bottom: 0;
        margin: auto;
        padding-right: rem(10px);
        border-right: 1px solid var(--border-light);

        svg {
            transition: 250ms;
        }
    }

    &__code {
        font-size: rem(18px);
    }

    &__list-wrap {
        position: relative;

        &--show-list {
            .form-main__input {
                border-radius: 10px 10px 0 0;
            }

            .form-main__country-list {
                height: fit-content;
                max-height: rem(5000px);
                transition: 250ms;
            }

            .form-main__tel-info-box {
                svg {
                    transition: 250ms;
                    transform: rotate(180deg);
                }
            }
        }

        @include media-breakpoint-down(sm) {
            max-width: 100%;
            width: 100%;
        }
    }
}

.contacts-form {
    &--vertical {
        width: 100%;
        max-width: rem(750px);
        margin: 0 auto;
    }

    &__name {
        font-weight: 700;
        margin-bottom: rem(20px);
        font-size: rem(18px);
    }

    &__group {
        display: flex;
        align-items: center;
        gap: rem(10px);
        margin-bottom: rem(20px);
    }

    &__submit {
        @extend %btn-main;

        font-size: rem(16px);
        margin-bottom: rem(10px);
        max-width: 100%;
        width: 100%;
    }

    &__submit-border {
        @extend %btn-border;

        max-width: 100%;

        @include media-breakpoint-down(lg) {
            max-width: 100%;
            width: 100%;
        }
    }

    &__input {
        width: 100%;
        max-width: rem(370px);
        padding: rem(20px);
        background: var(--white);
        border-radius: 10px;
        border: 1px solid var(--border-light);

        &--long {
            max-width: rem(390px);
        }

        &--full {
            max-width: 100%;
        }
    }

    &__policy {
        line-height: 155%;
        font-size: rem(14px);
    }

    &__btn-link {
        text-decoration: underline;
        color: var(--accent-orange);
    }

    .form-main__list-wrap {
        width: 100%;
    }
}
