.small-contacts {
    &__wrap {
        display: flex;
        align-items: center;
        gap: rem(10px);
    }

    &__icon {
        width: rem(25px);
        height: rem(25px);
        display: block;
        object-fit: contain;
    }

    &__tel {
        font-weight: 700;
        font-size: rem(24px);
        text-decoration: none;
        line-height: 140%;

        @include media-breakpoint-down(xxl) {
            font-size: rem(20px);
        }
    }

    &__work-time {
        font-size: rem(14px);
        display: flex;
        align-items: center;
        gap: 6px;

        span {
            border-radius: 50%;
            width: 6px;
            height: 6px;
            display: block;
            background-color: var(--accent-green);
        }

        @include media-breakpoint-down(xxl) {
            font-size: rem(12px);
        }
    }
}

.small-socials {
    &__list {
        @include unlist();

        display: flex;
        align-items: center;
        gap: rem(10px);
    }

    &__logo {
        img {
            width: rem(46px);
            height: rem(46px);
            display: block;
            object-fit: contain;

            @include media-breakpoint-down(xxl) {
                width: rem(36px);
                height: rem(36px);
            }
        }
    }
}

.custom-pagination {
    &__list {
        @include unlist();

        display: flex;
        align-items: center;
        width: fit-content;
        margin: 0 auto;
        margin-top: rem(50px);
        margin-bottom: rem(20px);
        gap: rem(40px);
    }

    &__total {
        width: fit-content;
        text-align: center;
        margin: 0 auto;
        opacity: 0.5;
        font-size: rem(18px);
    }

    &__arrow {
        width: rem(70px);
        height: rem(70px);
        border: 1px solid var(--accent-orange);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: rem(16px);
    }

    &__link {
        padding: rem(0 10px);
        font-size: rem(24px);
        text-decoration: none;
    }
}

.button-type-socials {
    &__list {
        @include unlist();

        display: flex;
        align-items: center;
        gap: rem(10px);
        width: 100%;
        justify-content: space-between;

        @include media-breakpoint-down(lg) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        gap: rem(10px);
        padding: rem(20px 40px);
        font-size: rem(18px);
        transition: 250ms;
        border-radius: 16px;
        border: 1px solid var(--border-light);
        text-decoration: none;

        &:hover {
            transition: 250ms;
            color: var(--accent-orange);
            border: 1px solid var(--accent-orange);
        }

        @include media-breakpoint-down(lg) {
            padding: rem(20px);
        }
    }

    &__icon {
        width: rem(23px);
        height: rem(23px);
        display: block;
        object-fit: contain;
    }
}
