.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 80;

    &--active {
        .header__wrap {
            box-shadow: 0 0 10px 0 rgba(0 0 0 / 25%);
        }
    }

    &__btn {
        @extend %btn-main;

        @include media-breakpoint-down(sm) {
            padding: rem(10px);
            border-radius: 6px;
        }
    }

    &__wrap {
        z-index: 102;
        position: relative;
        background: var(--white);
    }

    &__content {
        position: relative;
        padding: rem(15px 0);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: rem(10px);
    }

    &__logo-wrap {
        display: flex;
        align-items: center;
    }

    &__logo-info {
        font-size: rem(28px);
        font-weight: 700;
        flex: 0 0 auto;
        margin-bottom: 0;

        @include media-breakpoint-down(xxl) {
            font-size: rem(20px);
        }
    }

    &__logo {
        display: block;
        width: 100%;
        max-width: 100px;
        height: rem(80px);
        border-radius: rem(16px);
        overflow: hidden;
        margin-right: rem(16px);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: rem(16px);
        }

        @include media-breakpoint-down(xxl) {
            max-width: 60px;
            height: rem(48px);
        }

        @include media-breakpoint-down(sm) {
            margin-right: rem(8px);
        }
    }

    &__menu-wrap {
        background: var(--accent-red);

        @include media-breakpoint-down(lg) {
            display: none;
        }
    }

    &__small-contacts {
        @include media-breakpoint-down(lg) {
            display: none;
        }
    }

    &__small-socials {
        @include media-breakpoint-down(lg) {
            display: none;
        }
    }

    &__mobile-toggle {
        display: none;
        width: 28px;
        height: 30px;
        position: relative;
        z-index: 200;
        flex: 0 0 auto;

        @include media-breakpoint-down(lg) {
            display: block;
        }

        span {
            height: 2px;
            background: var(--accent-orange);
            display: block;
            width: 100%;
            transition: 750ms;
            border-radius: 2px;

            &:first-of-type {
                position: absolute;
                top: 7px;
                transform: rotate(0);
            }

            &:nth-of-type(2n) {
                position: absolute;
                width: 20px;
                right: 0;
                top: 14px;
                transform: rotate(0);
            }

            &:last-of-type {
                position: absolute;
                bottom: 7px;
                right: 0;
                transform: rotate(0);
            }
        }

        &--active {
            transition: 750ms;

            span {
                &:first-of-type {
                    top: 14px;
                    max-width: 35px;
                    transform: rotate(45deg);
                    background: var(--accent-orange);
                }

                &:nth-of-type(2n) {
                    opacity: 0;
                }

                &:last-of-type {
                    background: var(--accent-orange);
                    bottom: 14px;
                    max-width: 35px;
                    transform: rotate(-45deg);
                    width: 100%;
                }
            }
        }
    }
}

.header-menu {
    &__list {
        @include unlist();

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__item {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        &--last {
            .header-menu__link {
                padding: rem(15px 22px);
                background: rgba(0 0 0 / 15%);
                width: 100%;

                &::before {
                    display: none;
                }

                @include media-breakpoint-down(xxl) {
                    padding: rem(15px 10px);
                }
            }
        }

        &:first-of-type {
            .header-menu__link {
                padding-left: rem(10px);

                &::before {
                    display: none;
                }
            }
        }
    }

    &__link {
        display: flex;
        justify-content: center;
        padding: rem(15px 22px);
        color: var(--white);
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 500;
        font-size: rem(14px);
        transition: 250ms;
        position: relative;
        width: 100%;

        @include media-breakpoint-down(xxl) {
            padding: rem(15px 10px);
            width: 100%;
            font-size: rem(13px);
        }

        &::before {
            content: "";
            width: rem(14px);
            height: rem(14px);
            display: block;
            background-image: url("data:image/svg+xml,%3Csvg width='13' height='16' viewBox='0 0 13 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.15759 1C6.15759 1 3.97135 2.80647 3.97135 4.49086C3.97135 6.18746 4.89444 7.59114 4.89444 7.59114C4.55436 6.91982 3.66366 6.44379 2.61103 6.44379C1.2669 6.44379 0.181885 7.21273 0.181885 8.17699C0.181885 8.44552 0.408614 8.88495 0.570557 9.11686L1.36409 10.3252C1.6232 9.8736 2.23857 9.62948 2.95113 9.62948C3.90659 9.62948 4.70012 10.1787 4.70012 10.8623C4.70012 10.9721 4.68391 11.0698 4.63532 11.1674L2.65961 11.1796V12.4368H4.42481L3.11305 14.4019L4.84586 13.8893L6.15759 15L7.51791 13.8893L9.25072 14.4019L7.95517 12.4368H9.70416V11.1796L7.72845 11.1674C7.69606 11.0698 7.69605 10.9721 7.69605 10.8623C7.69605 10.1787 8.45718 9.62948 9.41264 9.62948C10.1252 9.62948 10.7406 9.8736 10.9997 10.3252L11.7932 9.11686C11.9552 8.88495 12.1819 8.44552 12.1819 8.17699C12.1819 7.21273 11.0969 6.44379 9.76892 6.44379C8.7001 6.44379 7.80943 6.91982 7.48554 7.59114C7.48554 7.59114 8.4086 6.18746 8.4086 4.49086C8.4086 2.80647 6.15759 1 6.15759 1Z' fill='%23FFC400' stroke='%232E2E2E' stroke-width='0.2' stroke-linejoin='round'/%3E%3Cpath d='M2.65967 12.4368H9.72039V11.1796H2.65967V12.4368Z' fill='%23FFC400' stroke='%232E2E2E' stroke-width='0.2'/%3E%3C/svg%3E%0A");
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            background-position: center;
            top: 0;
            left: -7px;
            bottom: 0;
            margin: auto;
        }

        &:hover {
            transition: 250ms;
            background: rgba(0 0 0 / 15%);
        }
    }
}

.mobile-menu-wrap {
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    height: 100svh;
    width: 101%;
    z-index: 100;
    pointer-events: none;

    &--active {
        z-index: 100;
        background: rgba(0 0 0 / 50%);
        pointer-events: auto;

        .mobile-menu-wrap__wrap {
            right: 0;
            transition: 250ms;
        }
    }

    &__wrap {
        position: absolute;
        right: -102%;
        top: 0;
        padding-top: 86px;
        margin-left: auto;
        width: 100%;
        max-width: 320px;
        height: 100%;
        background: var(--accent-orange-light);
        transition: 250ms;
        z-index: 102;

        @include media-breakpoint-down(lg) {
            padding-top: 96px;
            overflow-y: scroll;
        }

        @include media-breakpoint-down(sm) {
            padding-top: 70px;
        }
    }

    &__btn {
        @extend %btn-main;

        margin: 0 auto;
        padding: rem(12px 20px);
    }

    &__small-socials {
        margin: 0 auto;
        width: fit-content;
        margin-bottom: rem(20px);
    }

    &__small-contacts {
        width: fit-content;
        margin: 0 auto;
        margin-bottom: rem(20px);
        margin-top: rem(20px);
    }
}

.mobile-menu {
    &__list {
        @include unlist();
    }

    &__link {
        text-align: right;
        display: block;
        font-weight: 500;
        text-decoration: none;
        padding: rem(20px 40px);
        text-transform: uppercase;
        border: 1px solid var(--border-light);
        background: $white;
    }
}
